SUPABASE_URL=https://rtjhmqjdhkpvezomsads.supabase.com
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0amhtcWpkaGtwdmV6b21zYWRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4NTM1NDQsImV4cCI6MjA4ODQyOTU0NH0.UKvD-QnrffNLohOWuN8iCqPex5xy9EjQDdpQfm_EKZ8
PORT=5000
